
{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, {{first}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>{{currUser}}</b><br> <!-- object database; swig doesn't allow all of the js functions such as split method -->
      100 followers
      <img src={{'http://www.fullstackacademy.com/img/team/' +currUser.toLowerCase().replace(' ','_') + '.jpg'}} class="tweet-img-thumb"><br>
    </div>
    <div class="col-md-9 ">
    
      <!-- display tweets here -->
      <ul class="tweet-ul">
      {% for tweet in tweets %}
        <li>
        	<img src={{'http://www.fullstackacademy.com/img/team/' +tweet.name.toLowerCase().replace(' ','_') + '.jpg'}} class="tweet-img"/>
        	<h3>{{tweet.name}}</h3>
        	<p>{{tweet.text}}</p>
        </li>
      {% endfor %}
      </ul>
      
      <form method="post" action="/submit">
        <h3>Add Tweet :)</h3>
        <input id="nameVal" name="name" placeholder="Name" value="{{name || ""}}">
        <input id="tweetVal" name="tweet" placeholder="Tweet Dat!">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
    
{% endblock %}